<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title><%- title %></title>
    <meta name="title" content="<%- title %>" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:url" content="<%- url %>" />

    <!-- Twitter -->
    <meta property="twitter:title" content="<%- title %>" />
    <meta property="twitter:url" content="<%- url %>" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div
          class="position-absolute top-50 start-50 translate-middle d-flex flex-column gap-4"
        >
          <hgroup class="text-center">
            <h1 class="display-1 text-nowrap">Joëlle van Essen</h1>
            <p class="display-6">Full-Stack DevOps Engineer</p>
          </hgroup>
          <div class="row justify-content-evenly" role="list">
            <div class="col-3 text-center" role="listitem">
              <a
                href="https://github.com/JoCodesThings"
                target="_blank"
                title="GitHub-profiel (opent in nieuw tabblad)"
                ><i class="bi bi-github fs-1" aria-hidden="true"></i
              ></a>
            </div>
            <div class="col-3 text-center" role="listitem">
              <a
                href="https://www.linkedin.com/in/joellevane"
                target="_blank"
                title="LinkedIn-profiel (opent in nieuw tabblad)"
                ><i class="bi bi-linkedin fs-1" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
