<!doctype html>
<html lang="nl-NL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title><%- title %></title>
    <meta name="title" content="<%- title %>" />
    <meta name="author" content="Joëlle van Essen" />
    <meta name="description" content="<%- description %>" />
    <link rel="canonical" href="<%- url %>" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:url" content="<%- url %>" />
    <meta property="og:image" content="<%- url %>/assets/rich/og-image.webp" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:locale" content="nl_NL" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicons and theme colors -->
    <meta name="theme-color" content="#9863ee" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="mask-icon"
      href="/assets/favicon/safari-pinned-tab.svg"
      color="#9863ee"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <meta
      name="msapplication-config"
      content="/assets/favicon/browserconfig.xml"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="position-absolute top-50 start-50 translate-middle d-flex flex-column gap-5"
      >
        <header class="text-center">
          <h1 class="display-1 text-nowrap">Joëlle van Essen</h1>
          <p class="display-6 subtitle">DevOps Engineer</p>
        </header>
        <main>
          <div class="row justify-content-evenly" role="list">
            <div class="col-3 position-relative icon-container" role="listitem">
              <a
                href="https://gitlab.com/JoelleJS"
                target="_blank"
                title="GitLab-profiel (opent in nieuw tabblad)"
                rel="noopener"
              >
                <svg
                  viewBox="0 0 16 16"
                  fill="currentcolor"
                  class="icon position-absolute top-50 start-50 translate-middle"
                  aria-hidden="true"
                >
                  <path
                    d="m 15.734324,6.3953089 -0.0225,-0.0575 -2.17781,-5.68362999 a 0.56736362,0.56736362 0 0 0 -0.22412,-0.26994 0.58319315,0.58319315 0 0 0 -0.6665,0.0358 0.58319315,0.58319315 0 0 0 -0.19329,0.29326 L 10.979624,5.2122189 H 5.0252244 l -1.47048,-4.49891999 a 0.57152929,0.57152929 0 0 0 -0.19329,-0.2941 0.58319315,0.58319315 0 0 0 -0.6665,-0.0358 0.57236242,0.57236242 0 0 0 -0.22412,0.26993 l -2.18196998,5.68113999 -0.0217,0.0575 A 4.0440279,4.0440279 0 0 0 1.6085044,11.065839 l 0.007,0.006 0.02,0.0142 3.31754,2.4844 1.64127,1.2422 0.99976,0.75482 a 0.67233839,0.67233839 0 0 0 0.81314,0 l 0.99976,-0.75482 1.6412696,-1.2422 3.33753,-2.4994 0.008,-0.007 a 4.0456942,4.0456942 0 0 0 1.33968,-4.6688801 z"
                  />
                </svg>
              </a>
            </div>
            <div class="col-3 position-relative icon-container" role="listitem">
              <a
                href="https://github.com/JoelleJS"
                target="_blank"
                title="GitHub-profiel (opent in nieuw tabblad)"
                rel="noopener"
              >
                <svg
                  viewBox="0 0 16 16"
                  fill="currentcolor"
                  class="icon position-absolute top-50 start-50 translate-middle"
                  aria-hidden="true"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  />
                </svg>
              </a>
            </div>
            <div class="col-3 position-relative icon-container" role="listitem">
              <a
                href="https://www.linkedin.com/in/joellevane"
                target="_blank"
                title="LinkedIn-profiel (opent in nieuw tabblad)"
                rel="noopener"
              >
                <svg
                  viewBox="0 0 16 16"
                  fill="currentcolor"
                  class="icon position-absolute top-50 start-50 translate-middle"
                  aria-hidden="true"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
