html {
  height: 100%;
}

body {
  background-color: $indigo-100 !important;
  background-image: linear-gradient(
    25deg,
    $indigo-400 0%,
    mix($indigo-400, $indigo-100) 30%,
    $indigo-100 100%
  ) !important;
  min-height: 100%;
}

$icon-dim: calc(3.75rem + 2.5vw);

.icon-container,
.icon {
  width: $icon_dim;
  height: $icon_dim;
}

.subtitle {
  font-size: calc(1.2rem + 0.45vw);
}
